h1 {
  font-size: var(--font-size-1);
}
h2 {
  font-size: var(--font-size-2);
}
h3 {
  font-size: var(--font-size-3);
}
a {
  position: relative;
  color: inherit;
  text-decoration: none;
}
p {
  line-height: var(--line-height-body);
}
