.grid {
  display: flex;
  flex-direction: column;
}
.grid > li {
  width: 100%;
  margin-bottom: var(--grid-padding-vertical);
}

@media screen and (min-width: 1024px) {
  .grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .grid > li {
    width: calc(50% - var(--grid-padding-horizontal)/2);
  }
}
@media screen and (min-width: 2560px) {
  .grid {
    justify-content: flex-start;
  }
  .grid > li {
    width: calc(100%/3 - var(--grid-padding-horizontal)*2/3);
  }
  .grid > li:nth-of-type(3n+2), .grid > li:nth-of-type(3n+3) {
    margin-left: var(--grid-padding-horizontal);
  }
}
